<div class="container-fluid">

  
  <div style="padding-top: 15px;"  class="row col-md-12 d-flex justify-content-center">
    <div class="col-md-10 container-form">
      <div style="padding:0; margin:0;" class="row col-md-12 border-bottom text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h1 class="">Cadastro de produtos</h1>
        </div>
        <div class="col-md-2"></div>
      </div>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>

        
        <div style="padding:20px;" class="form-row">
          <div class="row col-md-12">
            <div class="col-md-2"></div>
              <div class="form-group col-md-8">
                <label for="nome">Nome do produto</label>
                <input ngModel required type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
              </div>
            <div class="col-md-2"></div>
          </div>

          <div class="row col-md-12">
            <div class="col-md-2"></div>
              <div class="form-group col-md-8">
                <label for="medida">Medidas do produto</label>
                <input ngModel required type="text" class="form-control" id="medidas" name="medidas" placeholder="Medida">
              </div>
            <div class="col-md-2"></div>
          </div>

          <div class="row col-md-12">
            <div class="col-md-2"></div>
              <div class="form-group col-md-8">
                <div class="row">
                  <div class="col-md-4">
                      <div style="margin-left: 5px;" class="form-group form-check">
                        <input style="margin-left:30px;" type="checkbox" class="custom-control-input" id="is_componente" #is_componente>
                        <label class="custom-control-label" for="is_componente">É produto componente ?</label>
                      </div>
                  </div>
                  <div class="col-md-8">
                    <label for="medida">Selecione o produto pai</label>
                    <select ngModel disabled name="produtoPaiId" class="custom-select">
                      <option selected>Selecione um produto</option>
                      <option value="1">Produto 01</option>
                      <option value="2">Produto 02</option>
                      <option value="3">Produto 03</option>
                    </select>
                  </div>
                </div>
    



              </div>
            <div class="col-md-2"></div>
          </div>


          

          <div class="row col-md-12">
            <div class="col-md-5"></div>
            <button style="margin:15px;" type="submit" class="btn btn-primary">Cadastrar produto</button>
            <div class="col-md-2"></div>
          </div>
  
        </div>
 

        
      </form>
      
    </div>
  </div>

  <br>
  <hr>
  <br>
  
    <div class="listagem">
      <div id="div-table" style="padding-top: 15px;"  class="row col-md-12 d-flex justify-content-center">
        <h2 class="border-bottom">Listagem dos produtos cadastrados</h2>
        <table id="table-list-produtos" class="table table-hover">
          
          <thead class="table-info">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nome</th>
              <th scope="col">Medidas</th>
              <th scope="col">Id pai</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let produto of produtos">
              <td>{{ produto.id }}</td>
              <td>{{ produto.nome }}</td>
              <td>{{ produto.medidas }}</td>
              <td>{{ produto.produtoPaiId }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  
    
</div>





