.content{
    margin-top: 80px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    h1{
        color: #1E6091;
    }
    .inputs{
        margin-top: 40px;
        width: 330px;
        margin-left: 530px;
    }
    .btn{
        background-color: #1E6091;
        border-color: #1E6091;
    }
}