.content{
    margin-top: 80px;
    margin-left: 340px;
    align-items: center;
    .card2{
        float: right;
        margin-top: -280px;
        margin-right: 370px;
    }
    .card-body{
        align-items: center;
        text-align: center;
    }
    h5{
        font-family: 'Times New Roman', Times, serif;
    }
}